
/* Ajoutez les importations manquantes ici */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

header {
    background-image: url('/public/img/020_HotelRoofNight_ImagebyDbox-777x804.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    margin: 0;
    position: relative;
    border: none;
    margin-top: -40px;
    margin-left: -10px;
    margin-right: -12px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50.23%, #FFF 146.44%);
    background: rgba(1, 49, 180, 0.42);
    z-index: 0;
}

#logo {
    width: 86px;
    height: 92px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
    top: 40px;
    left: 10px;
    right: auto;
}

header h1 {
    color: #FFF;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    width: 243px;
    height: 88px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
   display: flex;
   margin-left: 20px;
   margin-bottom: -10px;
   font-weight: 400;
   line-height: 100%; /* 40px */
    
}

#menu {
    width: 60px;
    height: 48px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
    top: 60px;
    left: auto;
    right: 10px;
}

header h2 {
    color: #FFF;
    font-family: "Oswalds";
    font-size: 30px;
    font-style: normal;
    line-height: 100%;
    width: 380px;
    height: 1px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
   display: flex;
   margin-left: 20px;
   font-weight: 400;
   line-height: 100%;
    
}
@media (max-width: 600px) {
    header h2 {
        font-size: 25px; /* Rendre le texte plus petit sur les petits écrans */
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 40px; /* Rendre le texte plus petit sur les petits écrans */
    }
}


@media (max-width: 600px) {
    header h3  {
        font-size: 40px; /* Rendre le texte plus petit sur les petits écrans */
    }
}



#visit {
    display: flex;
    width: 35px;
    height: 38px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 2;
    position: absolute;
    top: 565px;
    left: 25px;
    right: 330px;
}
header h3 {
    color: #FFF;
    font-family: "mulish";
    font-size: 17px;
    font-style: normal;
    line-height: 100%;
    width: 291px;
    height: 1px;
    flex-shrink: 0;
    position: absolute;
    top: 550px;
    left: 60px; /* Updated left position */
    right: auto; /* Removed right position */
    display: flex;
    margin-left: 20px;
    font-weight: 400;
    line-height: 100%;
}
