

/* Ajoutez les importations manquantes ici */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

header {
    background-image: url('/public/img/020_HotelRoofNight_ImagebyDbox-777x804.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    margin: 0;
    position: relative;
    border: none;
    margin-top: -40px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50.23%, #FFF 146.44%);
    background: rgba(1, 49, 180, 0.42);
    z-index: 0;
}
#logo {
    width: 86px;
    height: 92px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute; /* Positionne le logo de manière absolue par rapport au header */
    top: 40px; /* Décale le logo de 20px à partir du haut */
    left: 10px;
    right: auto; /* Décale le logo de 10px à partir de la droite */
}
header h1 {
    color: #FFF;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 100%;
    width: 243px;
    height: 88px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#menu {
    width: 60px;
    height: 48px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute; /* Positionne le logo de manière absolue par rapport au header */
    top: 60px; /* Décale le logo de 20px à partir du haut */
    left: auto;
    right: 10px; /* Décale le logo de 10px à partir de la droite */
}
