body {
background-color:#FEFEE2 ;

}

main h1, main h2 {
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: bold; /* Added font-weight property */
    line-height: 160%; /* 24px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    z-index: 1;
}

main p, main ul {
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 17.6px */
    letter-spacing: 1.1px;
    text-transform: uppercase;
    z-index: 1;
    
}

#barre {
    display: flex;
    width: 297px;
    height: 2px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto; /* Added margin property to center the barre */
    margin-top: -10px;
    z-index: 1;
}

.center-text {
    text-align: center;
}

main ul {
    list-style-type: none;
    z-index: 1;
}

#deco {
    width: 164px;
    height: 140px;
    flex-shrink: 0;
    margin-left: -70px; /* Move the element completely to the left */
    margin-right: auto; /* Allow the element to take up all available space on the right */
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: -2;
    top: 1172px;
    left: 3px;
    right: 330px;
    position: absolute;
    width: 35vw; /* 20% de la largeur de la fenêtre */
    height: 20vh;
}


main ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


